.main-container {
    display: flex;
    position: relative;
}

.closemenu {
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 50px;
    cursor: pointer;
}

.sidebar {
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
}

.cont-second {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f0f0f0;
    height: 100vh;
}